################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesOrderNotifier/SalesOrderNotifier/bin/Debug
